<div class="border-bottom pt-4 pb-3 mb-3">
	<p class="text-center h5 font-weight-bold">
		<%= @property_facade.full_address %>
	</p>
</div>

<div class="container table-responsive">
	<table class="table table-sm table-borderless">
		<tbody>
			<tr>
				<th scope="row">
					Name:
				</th>
				<td>
					<%= @property_facade.name %>
				</td>
			</tr>

			<tr>
				<th scope="row">
					Email:
				</th>
				<td>
					<%= mail_to @property_facade.email %>
				</td>
			</tr>

			<tr>
				<th scope="row">
					Phone:
				</th>
				<td>
					<%= link_to number_to_phone(@property_facade.phone, area_code: true), "tel:#{@property_facade.phone}" %>
				</td>
			</tr>

			<tr>
				<th scope="row">
					Retainer:
				</th>
				<td>
					$500
				</td>
			</tr>

			<tr>
				<th scope="row">
					Map:
				</th>
				<td>
					<%= link_to "Lat: #{@property_facade.latitude}, Long: #{@property_facade.longitude}", "http://www.google.com/maps/place/#{@property_facade.latitude},#{@property_facade.longitude}" %>
				</td>
			</tr>

			<tr>
				<th scope="row">
					Opted In:
				</th>
				<td>
					<%= @property_facade.opted_in? %>
				</td>
			</tr>

			<tr>
				<th scope="row">
					Found Us:
				</th>
				<td>
					<%= @property_facade.found_us %>
				</td>
			</tr>

			<tr>
				<th scope="row">
					<%= link_to "Zillow:", "https://www.zillow.com/homes/for_sale/#{@property_facade.zillow_address}_rb"  %>
				</th>
				<td>
					<dl class="row">
						<dt class="col-sm-3"> Zestimate: </dt>
						<dd class="col-sm-9"> <%= number_to_currency(@property_facade.zillow_zestimate) %> </dd>
						<dt class="col-sm-3"> High: </dt>
						<dd class="col-sm-9"> <%= number_to_currency(@property_facade.zillow_zestimate_high) %> </dd>
						<dt class="col-sm-3"> Low: </dt>
						<dd class="col-sm-9"> <%= number_to_currency(@property_facade.zillow_zestimate_low) %> </dd>
					</dl>
				</td>
			</tr>

			<tr>
				<th scope="row">
					Home Junction:
				</th>
				<td>
					<dl class="row">
						<dt class="col-sm-3"> Regional Average: </dt>
						<dd class="col-sm-9"> <%= number_to_currency(@property_facade.home_junction_regional_average) %> </dd>
						<dt class="col-sm-3"> High: </dt>
						<dd class="col-sm-9"> <%= number_to_currency(@property_facade.home_junction_high) %> </dd>
						<dt class="col-sm-3"> Low: </dt>
						<dd class="col-sm-9"> <%= number_to_currency(@property_facade.home_junction_low) %> </dd>
					</dl>
				</td>
			</tr>

			<tr>
				<th scope="row">
					Enthusiasm:
				</th>
				<td>
					<%= @property_facade.enthusiasm %>
				</td>
			</tr>

			<tr>
				<th scope="row">
					Timing:
				</th>
				<td>
					<%= @property_facade.timing %>
				</td>
			</tr>

			<tr>
				<th scope="row">
					Adopter Type:
				</th>
				<td>
					<%= @property_facade.adopter_type %>
				</td>
			</tr>

			<tr>
				<th scope="row">
					Updates:
				</th>
				<td>
					<%= @property_facade.updates.join("</br>").html_safe %>
				</td>
			</tr>

			<tr>
				<th scope="row">
					Stage:
				</th>
				<td>
					<%= @property_facade.stage %>
				</td>
			</tr>
		</tbody>
	</table>
</div>
