<h2 class="text-center mt-6 mb-4 font-weight-bold">TRELORA</h2>
<h3 class="text-center font-weight-bold">Listing Consultation Tool</h3>

<div class="container mt-5">
  <%= form_tag("/login", method: :post) do %>
    <div class="form-group">
      <%= label_tag :email, 'Member Email', class: 'center-wrapper h5' %>
      <%= text_field_tag :email, class: 'form-control mt-3' %>
    </div>

    <div class="form-group">
      <%= label_tag :password, 'Password', class: 'center-wrapper h5' %>
      <%= password_field_tag :password, class: 'form-control mt-3' %>
    </div>

    <div class="mt-5 center-wrapper">
      <%= submit_tag 'Login', class: 'btn-trelora' %>
    </div>
  <% end %>
</div>
