<h1>Trelora</h1>
<h2>Listing Consultation Tool</h2>

<%= form_tag("/login", method: :post) do %>
    <%= label_tag :email %>
    <%= text_field_tag "email" %>
    <%= label_tag :password %>
    <%= password_field_tag :password%>
    <%= submit_tag "Login"%>
<% end %>
