<script>
  $(document).ready(function() {

    // Modal View On Page Load
    <% if session[:complete].nil? %>
      $('#startCollect').modal('show');
    <% end %>

    // Consultation Timer
    $("#start_timer").click(function(){
      var date = new Date();
      var startTime = date.getTime();
      $("#start_time").val(startTime);
    });

    // Adds dashes to credit card input and allows only numbers
    $('#credit_card_number').keyup(function() {
      var number = $(this).val().split('-').join('');
      if (number.length > 0) {
        number = number.match(new RegExp('.{1,4}', 'g')).join('-');
      }
      $(this).val(number);

      (this).value = (this).value.replace(/[^0-9\-]/g,'');
    });

 // Allow only integers in recommended list price
    $('#recommended_list_price').keyup(function() {
      (this).value = (this).value.replace(/[^0-9]/g, '');
    });

    // Collect Form Validations
    $('#submit').on('click', function(event) {
      var passing = true;

      var about_the_home = $('#about_home').val();
      var recommended_list_price = parseInt($('#recommended_list_price').val());
      var buyer_agent_commission = $('#buyer_agent_commission').val();
      var about_the_seller = $('#about_the_seller').val();
      var credit_card_number = $('#credit_card_number').val();
      var cc_month = $('#cc_month').val();
      var cc_year = $('#cc_year').val();

      $('.text-danger').remove();

      if (about_the_home.length < 1) {
        passing = false;
        $('#about_home').after('<p class="text-danger">This field is required.</p>');
      }

      if ((recommended_list_price < 1) || (recommended_list_price > 100000000)) {
        passing = false;
        $('#recommended_list_price').after('<p class="text-danger">List price must be between 1 and 100000000.</p>');
      }

      if (buyer_agent_commission.length < 1) {
        passing = false;
        $('#buyer_agent_commission').after('<p class="text-danger">This field is required.</p>');
      }

      if (about_the_seller.length < 1) {
        passing = false;
        $('#about_the_seller').after('<p class="text-danger">This field is required.</p>');
      }

      if (credit_card_number.length < 1) {
        passing = false;
        $('#credit_card_number').after('<p class="text-danger">This field is required and must be a valid credit card number.</p>');
      }

      if (cc_month === 'MM') {
        passing = false;
        $('#cc_month').after('<p class="text-danger">Please select a valid month.</p>');
      }

      if (cc_year === 'YYYY') {
        passing = false;
        $('#cc_year').after('<p class="text-danger">Please select a valid year.</p>');
      }

      if (passing === false) {
        event.preventDefault();
      }

      var startTime = $("#start_time").val();
      var date = new Date();
      var endTime = date.getTime();
      
      var totalTime = endTime - startTime;

      $("#consultation_length").val(totalTime)
    });

  });
  </script>

    <!-- MODAL BEGIN -->
    <div class="modal fade" id="startCollect" tabindex="-1" role="dialog" aria-labelledby="startCollectTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-footer center-wrapper">
            <button type="button" class="btn-trelora" id="start_timer" data-dismiss="modal">Start Consultation</button>
          </div>
        </div>
      </div>
    </div>
    <!-- MODAL STOP -->

  <div class="border-bottom pt-4 pb-3">
    <p class="text-center h5 font-weight-bold">
      <%= @property_facade.full_address %>
    </p>
  </div>
  
  <div class="container mt-2">
    <div class="center-wrapper">
      <% if flash[:alert] %>
        <p class="text-danger"><%= flash[:alert] %></p>
      <% end %>
    </div>
    
    <%= form_tag("/collect", method: :post, id: 'collect') do %>
      <div class="form-group">
        <%= label_tag :about_home, 'About The Home', class: 'h6' %>
        <%= text_area_tag :about_home, nil, rows: 3, class: 'form-control', disabled: session[:complete] %>
      </div>
      <div class="form-group">
          <%= label_tag :recommended_list_price, 'Recommended List Price', class: 'h6' %>
          <%= text_field_tag :recommended_list_price, nil, class: 'form-control', disabled: session[:complete] %>
      </div>
      <div class="form-group">
        <%= label_tag :update_client_enthusiasm, 'Update Client Enthusiasm', class: 'h6' %>
        <%= select_tag :update_client_enthusiasm, options_for_select(%w[Hot Medium Mild]), class: 'form-control', disabled: session[:complete]  %>
      </div>
      <div class="form-group">
      <%= label_tag :buyer_agent_commission, 'Buyer Agent Commission', class: 'h6' %>
      <%= text_field_tag :buyer_agent_commission, nil, class: 'form-control', disabled: session[:complete]  %>
      </div>

      <div class="form-group">
        <%= label_tag :about_the_seller, 'About The Seller', class: 'h6' %>
        <%= text_area_tag :about_the_seller, nil, rows: 3, class: 'form-control', disabled: session[:complete]  %>
      </div>

      <div class="form-group">
        <%= label_tag :credit_card_number, 'Credit Card Number', class: 'h6' %>
        <%= text_field_tag :credit_card_number, nil, class: 'form-control', maxlength: 19, disabled: session[:complete]  %>
      </div>
      <div class="form-group">
      <div class="form-row">
        <%= label_tag :credit_card_expiry, 'Credit Card Expiration Date', class: 'h6', disabled: session[:complete]  %>
      </div>
      <div class="form-row">
        <div class="col-4">
          <%= select_tag :cc_month,
                         options_for_select(
                           %w[MM 01 02 03 04 05 06 07 08 09 10 11 12]
                         ),
                         class: 'form-control', 
                         disabled: session[:complete] 
          %>
        </div>
        <div class="col-5">
          <%= select_tag :cc_year,
                         options_for_select(
                           %w[YYYY 2018 2019 2020 2021 2022 2023 2024 2025 2026 2027 2028 2029 2030 2031 2032 2033 2034 2035], 'YYYY'
                         ),
                         class: 'form-control',
                         disabled: session[:complete] 
          %>
        </div>

        <%= hidden_field_tag :start_time %>

        <%= hidden_field_tag :consultation_length %>
      </div>
    </div>

    <div class="center-wrapper mb-4 mt-4">
      <%= submit_tag 'Finish', class: 'btn-trelora', id: 'submit', disabled: session[:complete]  %>
    </div>
  <% end %>
</div>
