<!DOCTYPE html>
<html>
  <head>
    <title>TreloraListingConsultation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <a class="col text-center p-2 nav-link" id="active" href="#">
          Find
        </a>
        <a class="col text-center p-2 nav-link" href="#">
          Prepare
        </a>
        <a class="col text-center p-2 nav-link" href="#">
          Collect
        </a>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
