<!DOCTYPE html>
<html>
  <head>
    <title>Trelora Listing Consultation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
d 
  <% if current_user %>
   <div class="row">
    <a class="col text-center p-2 nav-link" id="<%= active('/find-property') %>" href="/find-property">
     Find
    </a>
    <a class="col text-center p-2 nav-link <%= disabled_class('/prepare') %>" id="<%= active('/prepare') %>" <%= link_to_path('/prepare') %>>
     Prepare
    </a>
    <a class="col text-center p-2 nav-link <%= disabled_class('/prepare') %>" id="<%= active('/collect') %>" <%= link_to_path('/prepare') %>>
     Collect
    </a>
   </div>
  <% end %>
  <div class="container">
   <%= yield %>
  </div>
  </body>
</html>
