<!DOCTYPE html>
<html>
  <head>
    <title>Trelora Listing Consultation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <div class="container">
        <div class="row">
          <a class="col text-center p-2 nav-link" id="<%= active('/find') %>" href="/find">
            Find
          </a>
          <a class="col text-center p-2 nav-link" id="<%= active('/prepare') %>" href="#">
            Prepare
          </a>
          <a class="col text-center p-2 nav-link" id="<%= active('/collect') %>" href="#">
            Collect
          </a>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
